@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url('./fonts/static/Manrope-Regular.ttf');
}

@font-face {
  font-family: "Manrope-Bold";
  src: url('./fonts/static/Manrope-Bold.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glow {
  transition: box-shadow 0.2s; /* Add transition for smooth effect */
}
.glow:hover {
  box-shadow: 0 0 20px 10px rgba(41, 183, 86, 0.5); /* Add a blue glow on hover */
}